/* styles.css */

body {
font-family: var(--ff-poppins), sans-serif;
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
align-items: center;
background: #F8F9FD;
}

html {
font-family: var(--ff-poppins);
font-size: 20px;
scroll-behavior: smooth;
}

.container {
    max-width: 350px;
    background: #F8F9FD;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    margin: 20px;
    margin-top: 4rem;
}

.container .welcome {
    text-align: center;
}
.form input {
  width: 90%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #cff0ff 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.form .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
  }

.form .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
    cursor: pointer;
}
.form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}
  
.form .forgot-password a {
    font-size: 11px;
    color: rgb(16, 137, 211);
    text-decoration: none;
} 

.form  a {
    font-size: 11px;
    color: rgb(16, 137, 211);
    text-decoration: none;
    
}


.form .own_account {
    font-size: 11px;
    margin-left: 10px;
}

header {
background-color: #333;
color: #fff;
padding: 20px;
text-align: center;
}

.heading, h1 {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(16, 137, 211);
  }
  
nav ul {
list-style-type: none;
margin: 0;
padding: 0;
}

nav ul li {
display: inline;
margin-right: 20px;
}

main {
padding: 20px;
}

footer {
background-color: #333;
color: #fff;
padding: 20px;
text-align: center;
}

/* Course content page styles */
section {
margin-bottom: 30px;
border-bottom: 1px solid #ccc;
padding-bottom: 20px;
}

h2 {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(16, 137, 211);
  }

p {
color: #666;
font-size: 16px;
line-height: 1.5;
}

iframe {
width: 100%;
height: 400px;
margin-top: 20px;
}

